<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios_starter_kit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C04E0941D20FE0400D88603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C04E0A81D20FE0400D88603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C04E0B31D20FE0400D88603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
